@model List<BaiKiemTraLan2.Models.Entitiess.Category>
@{
    ViewData["Title"] = "Danh sách các laoij sách";
}



<br />
<h3 class=" text-center text-danger">Danh sách các thể loại sách</h3>
<br />
<table id="dataTable" class=" table table-bordered table-hover mt-3">
    <thead class=" thead-light">
        <tr>

            <th>Mã thể loai</th>
            <th>Tên thể loại </th>
            <th>Xem chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.MaTheLoai</td>
                <td>@item.TenTheLoai </td>

                <td>
                    <a asp-controller="Home" asp-action="XemChiTiet" asp-route-id="@item.MaTheLoai" class=" btn btn-danger">Chi tiết</a>
                </td>


            </tr>

        }

    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable(

            );
        });
    </script>
    <script src="~/lib/bootbox/bootbox.js"></script>

}
