<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color: pink; height: 40; width : 100%">
        <span>&copy; Manchster United @DateTime.Now.Year </span>
    </div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color: greenyellow; height: 40; width : 100%">
        <span>&copy; Manchster United @DateTime.Now.Year </span>
    </div>
</body>
</html>
