
@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/formdelete.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class=" container">
        <div>
            <nav class="navbar navbar-expand-sm bg-info navbar-dark">
                <!-- Brand/logo -->
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo.png" alt="logo" class=" rounded-circle" style="width:50px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">ManUnited</a>
                        </li>
                        <li class="nav-item">

                            <a asp-controller="Home" asp-action="Create" class="nav-link">Create</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">

                                <a asp-controller="Role" asp-action="Index" class="nav-link">Role</a>
                            </li>
                            <li class="nav-item">

                                <a asp-controller="User" asp-action="Index" class="nav-link">User</a>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link text-light">
                                       Logout @User.Identity.Name
                                    </button>

                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                            </li>
                        }


                    </ul>
                </div>
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>

        <footer class=" border-top cart-footer text-info">
            <span>&copy; Manchster United 2008 </span>
        </footer>
    </div>
    @RenderSection("Scripts", false);
</body>
</html>
