@model HomeCreateViewModel
@{
    ViewBag.Title = "Create employee";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class=" mt-4">
    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" Fullname"></label>
        </div>
        <div class=" col-sm-10">
            <input asp-for=" Fullname" class=" form-control" />
            <span asp-validation-for=" Fullname" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" Email"></label>
        </div>
        <div class=" col-sm-10">
            <input asp-for=" Email" class=" form-control" />
            <span asp-validation-for=" Email" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" Department"></label>
        </div>
        <div class=" col-sm-10">
            <select asp-for=" Department" class=" custom-select" asp-items="@Html.GetEnumSelectList<Dept>()">
                <option value="">Select a departement</option>
            </select>
            <span asp-validation-for=" Department" class=" text-danger"></span>
            @*<input asp-for=" Department" class=" form-control" />*@
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" Avata"></label>
        </div>
        <div class=" col-sm-10">
            <div class="custom-file mb-3">
                <input class="custom-file-input" asp-for="Avata">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

        </div>
    </div>


    @*hien thi tat ca cac loi*@
    <div asp-validation-summary="None"></div>
    <div class=" row form-group">

        <div class=" col-sm-12">
            <button type="submit" class=" btn btn-primary">Create</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
        </div>
    </div>

</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        }
        )
    </script>

 }