@model SteamFan

@*@inject AppDbContext context*@

@{
    ViewBag.Title = "Tạo mới tài khoản";
}


<div class="card bg-light">
    <article class="card-body">
        <h1 class="card-title mt-3 text-center" style="color:red">Thêm mới sản phẩm</h1>
        <h5 class="text-center">Thêm vào danh sách một một máy quạt hơi nước mới</h5>
       

        <form asp-controller="Product" asp-action="CreateSteamFan" method="post" class=" mt-6" autocomplete="off">
            <p class="form-group input-group col-sm-10 " style="font-weight:600;font-size:30px">Thông tin cá nhân</p>
            <hr />
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="ProductId"></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" ProductId" class=" form-control" />
                    <span asp-validation-for=" ProductId" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" ProductName "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" ProductName" class=" form-control" />
                    <span asp-validation-for=" ProductName" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Brand "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Brand" class=" form-control" />
                    <span asp-validation-for=" Brand" class=" text-danger"></span>
                </div>
            </div>


            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Dynamic "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Dynamic" class=" form-control" />
                    <span asp-validation-for=" Dynamic" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="Wattage "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for="Wattage" class=" form-control" placeholder="? W" />
                    <span asp-validation-for="Wattage" class=" text-danger"></span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="WindSpeed"></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" WindSpeed" class=" form-control" />
                    <span asp-validation-for=" WindSpeed" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" WindMode "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" WindMode" class=" form-control" />
                    <span asp-validation-for=" WindMode" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Control "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Control" class=" form-control" />
                    <span asp-validation-for=" Control" class=" text-danger"></span>
                </div>
            </div>


            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" CollingRange "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" CollingRange" class=" form-control" />
                    <span asp-validation-for=" CollingRange" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="NoiseLevel "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for="NoiseLevel" class=" form-control" placeholder="? W" />
                    <span asp-validation-for="NoiseLevel" class=" text-danger"></span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="FanCageType"></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" FanCageType" class=" form-control" />
                    <span asp-validation-for=" FanCageType" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" WaterConsumption "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" WaterConsumption" class=" form-control" />
                    <span asp-validation-for=" WaterConsumption" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" TankCapacity "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" TankCapacity" class=" form-control" />
                    <span asp-validation-for=" TankCapacity" class=" text-danger"></span>
                </div>
            </div>


            @*<div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Dynamic "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Dynamic" class=" form-control" />
                    <span asp-validation-for=" Dynamic" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="Wattage "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for="Wattage" class=" form-control" placeholder="? W" />
                    <span asp-validation-for="Wattage" class=" text-danger"></span>
                </div>
            </div>

            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="ProductId"></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" ProductId" class=" form-control" />
                    <span asp-validation-for=" ProductId" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" ProductName "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" ProductName" class=" form-control" />
                    <span asp-validation-for=" ProductName" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Brand "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Brand" class=" form-control" />
                    <span asp-validation-for=" Brand" class=" text-danger"></span>
                </div>
            </div>


            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Dynamic "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Dynamic" class=" form-control" />
                    <span asp-validation-for=" Dynamic" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for="Wattage "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for="Wattage" class=" form-control" placeholder="? W" />
                    <span asp-validation-for="Wattage" class=" text-danger"></span>
                </div>
            </div>*@





            <div class="form-group">
                <button type="submit" class="btn btn-primary  float-lg-right"> Account  </button>
            </div>
            <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
    </article>
</div> 