@model BaiTapLon.Models.ProductManagement.CreateProduct
@inject BaiTapLon.Models.Contexts.AppDbContext context
@{
    ViewBag.Title = "Tạo mới sản phẩm";
}

<div class="card bg-light">
    <article class="card-body">
        <h1 class="card-title mt-3 text-center" style="color:red">Thêm mới sản phẩm</h1>
        <h5 class="text-center">Thêm vào danh sách một một máy quạt hơi nước mới</h5><br />


        <form asp-controller="Product" asp-action="CreateProduct" method="post" class=" mt-6" autocomplete="off" enctype="multipart/form-data">
            <hr />

            <div class="row">
                <div class="input-group mb-4 col-sm-12">
                    <div class="input-group-prepend" style=" width:20%">
                        <label class="input-group-text" style=" width:100%" asp-for="ProductName"></label>
                    </div>
                    <div style=" width:80%">
                        <input class="form-control" asp-for="ProductName">
                    </div>
                    <span asp-validation-for=" ProductName" class=" text-danger"></span>
                </div>
            </div>

            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="ProductId"></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="ProductId">
                        </div>
                        <span asp-validation-for=" ProductId" class=" text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="ProductPrice"></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="ProductPrice">
                        </div>
                        <span asp-validation-for=" ProductPrice" class=" text-danger"></span>
                    </div>
                </div>
            </div>

            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="CategoryId"></label>
                        </div>
                        <div style=" width:60%">
                            <select asp-for="CategoryId" class="custom-select" onchange="themoi(this.value)">
                                <option value="" selected>Chọn sản phẩm</option>
                                @foreach (var item in context.Categories)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for=" CategoryId  " class=" text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Brand  "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Brand  ">
                        </div>
                        <span asp-validation-for="Brand" class=" text-danger"></span>
                    </div>
                </div>
            </div>

            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Utilities"></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Utilities ">
                        </div>
                        <span asp-validation-for=" Utilities " class=" text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Wattage "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Wattage ">
                        </div>
                        <span asp-validation-for=" Wattage" class=" text-danger"></span>
                    </div>
                </div>
            </div>

            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="TankCapacity"></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="TankCapacity  ">
                        </div>
                        <span asp-validation-for=" TankCapacity  " class=" text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Year "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Year  ">
                        </div>
                        <span asp-validation-for=" Year " class=" text-danger"></span>
                    </div>
                </div>
            </div>

            <div id="quathoinuoc">
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Dynamic "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Dynamic   ">
                            </div>
                            <span asp-validation-for=" Dynamic   " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WindSpeed "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="WindSpeed   ">
                            </div>
                            <span asp-validation-for=" WindSpeed " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WindFlow  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="WindFlow    ">
                            </div>
                            <span asp-validation-for=" WindFlow    " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WindMode  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="WindMode    ">
                            </div>
                            <span asp-validation-for=" WindMode  " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="FanCageType  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="FanCageType     ">
                            </div>
                            <span asp-validation-for=" FanCageType " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="CollingRange   "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="CollingRange     ">
                            </div>
                            <span asp-validation-for=" CollingRange   " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Noiselevel  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Noiselevel      ">
                            </div>
                            <span asp-validation-for=" Noiselevel  " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WaterConsumption    "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="WaterConsumption      ">
                            </div>
                            <span asp-validation-for=" WaterConsumption    " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="maylocnuoc">
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="MachineModel "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="MachineModel ">
                            </div>
                            <span asp-validation-for=" MachineModel " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="FilterTechnology "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="FilterTechnology ">
                            </div>
                            <span asp-validation-for=" FilterTechnology " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="FilterCapacity  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="FilterCapacity  ">
                            </div>
                            <span asp-validation-for=" FilterCapacity  " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="NumberFilterCores  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="NumberFilterCores  ">
                            </div>
                            <span asp-validation-for=" NumberFilterCores  " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Pumping  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Pumping   ">
                            </div>
                            <span asp-validation-for=" Pumping  " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Temperature   "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Temperature   ">
                            </div>
                            <span asp-validation-for=" Temperature   " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="binhnonglanh">
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="MachineModel "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="MachineModel  ">
                            </div>
                            <span asp-validation-for=" MachineModel  " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Safemode   "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Safemode   ">
                            </div>
                            <span asp-validation-for=" Safemode   " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="Temperature  "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="Temperature   ">
                            </div>
                            <span asp-validation-for=" Temperature   " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WaterPressure    "></label>
                            </div>
                            <div style=" width:60%">
                                <input type="number" class="form-control" asp-for="WaterPressure    ">
                            </div>
                            <span asp-validation-for=" WaterPressure    " class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4 ">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="WarmUpTime   "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="WarmUpTime    ">
                            </div>
                            <span asp-validation-for=" WarmUpTime    " class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" style=" width:40%">
                                <label class="input-group-text" style=" width:100%" asp-for="MaxTemperature     "></label>
                            </div>
                            <div style=" width:60%">
                                <input class="form-control" asp-for="MaxTemperature     ">
                            </div>
                            <span asp-validation-for=" MaxTemperature     " class=" text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Size    "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Size     ">
                        </div>
                        <span asp-validation-for=" Size     " class=" text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Weight      "></label>
                        </div>
                        <div style=" width:60%">
                            <input type="number" class="form-control" asp-for="Weight      ">
                        </div>
                        <span asp-validation-for=" Weight      " class=" text-danger"></span>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-6 ">
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="Manufactures     "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="Manufactures      ">
                        </div>
                        <span asp-validation-for=" Manufactures      " class=" text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend" style=" width:40%">
                            <label class="input-group-text" style=" width:100%" asp-for="MadeIn       "></label>
                        </div>
                        <div style=" width:60%">
                            <input class="form-control" asp-for="MadeIn ">
                        </div>
                        <span asp-validation-for=" MadeIn " class=" text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-prepend" style=" width:19.5%">
                    <label class="input-group-text" style=" width:100%" asp-for="Description  "></label>
                </div>
                <textarea class="form-control" asp-for="Description" rows="6"></textarea>
                <span asp-validation-for=" Description   " class=" text-danger"></span>
            </div>


            <div class="form-group">
                <a style="margin:0px 20px" class=" btn btn-info float-lg-right" asp-controller="Product" asp-action="ShowSteamFan">Quay lại</a>
                <button type="submit" class="btn btn-primary  float-lg-right"> Thêm mới</button>

            </div>
           



            <input id="ImageFiles" name="ImageFiles" type="file" multiple />
            <div id="image-holder"></div>

        </form>
        <script>
             function readURLWeekly(input) {
                if (input.files)
                    for (var i = 0; i < input.files.length; i++) {
                        if (input.files[i]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('.weeklyPreview').append('<img data-src="holder.js/140x140" src="' + e.target.result + '" class="offer-image img-polaroid"/>');
                            },
                                reader.readAsDataURL(input.files[i]);
                        }
                    }
            }
        </script>
    </article>
</div>

@section Scripts{

    <script src="~/js/site.js"></script>
}