@model int
@{ 
    ViewBag.Title = "Employee not found";
}
<div class=" alert alert-danger">
    <h2>Error 404</h2>
    <hr />
    <h4>Employee with Id = @Model can not be found</h4>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class=" btn btn-outline-danger">Click here can to see all employee</a>
</div>
