@{
    ViewBag.Title = "Error exception";
}

<div class=" alert alert-danger">
    <h2>An occured while processing, the support team notified ang we are working on to fix</h2>
    <hr />
    <h4>Please contact administator ManchestersUntesd@gmail.com</h4>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class=" btn btn-outline-danger">
        Click here navigate home page
    </a>
</div>