@inject CuaHangQuatNuoc.Models.AppDbContext.AppDbContext context


@{
    ViewData["Title"] = "Danh sách các sản phẩm";
}


<h1>Danh sách quạt nước</h1>
@foreach (var item in context.Products)
{
    if (item.CategoryId == 1)
    {

    }
}