@model Cake
@inject AppDbContext context
@{
    ViewBag.Title = "Thay đổi thông tin bánh";
}

<form asp-controller="Home" asp-action="ThayDoiThongTin" method="post" class=" bg-light rounded container">
    <div asp-validation-summary="All"></div>
    <input hidden asp-for="MaBanh" />
    <h3>Thay đổi thông tin Bánh</h3>
    <em class=" text-danger"> @ViewData["Message"]</em>


    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="TenBanh"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" TenBanh" class=" form-control " />
            <span asp-validation-for=" TenBanh" class=" text-danger"></span>


        </div>
    </div>


    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="ThanhPhan"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" ThanhPhan" class=" form-control " />
            <span asp-validation-for=" ThanhPhan" class=" text-danger"></span>

        </div>
    </div>


    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="HanSuDung"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" HanSuDung" class=" form-control " />
            <span asp-validation-for=" HanSuDung" class=" text-danger"></span>

        </div>
    </div>


    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="NgaySanXuat"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" NgaySanXuat" class=" form-control " />
            <span asp-validation-for=" NgaySanXuat" class=" text-danger"></span>

        </div>
    </div>


    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="GiaBan"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" GiaBan" class=" form-control " />
            <span asp-validation-for=" GiaBan" class=" text-danger"></span>

        </div>
    </div>

    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="MaTheLoai">Loại Bánh</label>
        </div>
        <div class=" col-4">
            <select asp-for="MaTheLoai" class="custom-select">
                @foreach (var item in context.TheLoais)
                {
                    <option value="@item.MaTheLoai">@item.TenTheLoai</option>
                }


            </select>
            <span asp-validation-for=" MaTheLoai" class=" text-danger"></span>

        </div>
    </div>



    <div class="d-flex justify-content-center">
        <button class="btn btn-info " type="submit">Cập nhập</button>
        <a class=" btn btn-primary" asp-controller="Home" asp-action="XemChiTiet" asp-route-id="@Model.MaTheLoai">Hủy</a>
    </div>
</form>
